extends layouts/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="password", placeholder="Current Password", name="password")
            input(type="password", placeholder="New Password", name="password2")
            input(type="password", placeholder="Verify Current Password", name="password2")
            input(type="submit", value="Change Password")