extends layouts/main

block content
    .form-container
        form(action=routes.upload, method="post")
            input(type="text", placeholder="Title", name="title")
            input(type="text", placeholder="Description", name="description")
            input(type="submit", value="Upload Video")
        a.form-container__link(href=routes.deleteVideo) Delete Video